#predictive-search .link-reversed {
    font: var(--subheading-font-style) var(--subheading-font-weight) var(--subheading-font-size) / normal var(--subheading-font-family);
    letter-spacing: var(--subheading-letter-spacing);
    text-transform: var(--subheading-text-transform);
}

#search-drawer-input {
    font: var(--subheading-font-style) var(--subheading-font-weight) var(--subheading-font-size) / normal var(--subheading-font-family);
    letter-spacing: var(--subheading-letter-spacing);
    text-transform: var(--subheading-text-transform);
}

.shopify-section--main-product sale-price {
    font: var(--subheading-font-style) var(--subheading-font-weight) 16px / normal var(--subheading-font-family);
    letter-spacing: var(--subheading-letter-spacing);
    text-transform: var(--subheading-text-transform);
}

.blog-post-card__image-container img {
    height: 100%;
}